body{
    /*font-family: 'Comfortaa', cursive;*/
    margin: 15px;
    padding: 20px;
}

input{
    margin: 4px;
}

table{
    margin-top: 40px;   
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    padding-left: 50px;
    padding-right: 50px;
}

td{
    font-size: 12px;
}

#section-table{
    text-align: center;
    padding-left: 0%;
}